/* App.css */

/* Center the content vertically and horizontally */
.holding-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; /* Set your desired background color */
}

/* Style for the "Coming Soon" text */
.coming-soon {
  font-size: 48px; /* Set your desired font size */
  font-weight: bold; /* Set your desired font weight */
  color: #333; /* Set your desired text color */
  text-align: center;
  text-transform: uppercase; /* Convert text to uppercase */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}
